<div class="max-w-3xl w-full mx-auto relative bg-white shadow rounded-lg">
  <div class="flex w-full flex-col p-4 md:p-6">
    <%= form_for Post.new do |f| %>
    <%= f.text_area :description , placeholder: "I am super excited <3", class:"appearance-none block w-full bg-white text-primary-900 font-normal border border-primary-400 rounded py-3 px-4 mb-4 leading-tight focus:outline-none focus:bg-white focus:border-primary-500"%>
    <div class="md:flex justify-between items-center">
      <div class="md:w-2/3">
        <label class="w-1/2 text-center cursor-pointer truncate bg-primary-100 border border-dashed border-primary-600 p-3 items-center font-semibold rounded text-sm hover:text-primary-600 hover:bg-primary-200 hover:border-primary-500 flex-grow" for="post_image">
          <span class="w-full">
            <span class="truncate">
              <%= f.file_field :image ,class:"" %>
            </span>
          </span>
        </label>
      </div>
      <div class="w-1/3 mt-2 md:mt-0">
        <%= f.submit "Create Post", class:"w-full btn btn-large btn-primary mt-2 md:mt-0"%>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="max-w-3xl mx-auto justify-center">
  <div>
    <% @posts.each do |post| %>
    <div class="rounded-lg bg-white shadow border p-4 mt-4 rounded">
      <div class="flex w-full items-center">
        <%= link_to  user_path(post.user) do%>
        <% if post.user.avatar.attached? %>
        <%= image_tag  post.user.avatar ,class:"rounded-full my-2 h-10 w-10 shadow"  %>
        <%else%>
        <%= image_tag("dp.png", :alt => "Default DP", class:"rounded-full my-2 h-10 w-10 shadow" ) %>
        <%end%>
        <%end%>
        <%= link_to user_path(post.user) do %>
        <%if post.user.username?%>
        <h3 class="text-xl  font-bold px-2 py-4"><%=  post.user.username%></h3>
        <%else%>
        <h3 class="text-xl  font-bold px-2 py-4">anonymous_user</h3>
        <%end%>
        <%end%>
      </div>
      <%= link_to post_path(post) do %>
      <% if post.image.attached? %>
      <div class="mx-auto">
        <%= image_tag post.image ,class:"relative w-full object-contain h-std rounded-lg shadow-lg"%>
      </div>
      <% end %>
      <%end%>


      <% already_liked = post.likes.find{|like| like.user_id == current_user&.id} %>
      <div class="flex items-center py-1 mt-3">
        <div class="flex items-center">
          <%if already_liked%>
          <%= button_to post_like_path(post,already_liked), method: :delete  do  %>
          <i class="fas fa-heart text-primary-700 text-xl"></i>
          <%end%>
          <%else%>
          <%= button_to post_likes_path(post), method: :post  do  %>
          <i class="far fa-heart text-primary-700 text-xl"></i>
          <%end%>
          <%end%>
          <h3 class="ml-2 text-sm text-gray-600 "><%= post.likes.count %><%=post.likes.count <= 1 ? " like" : " likes"%></h3>
        </div>
        <div class="ml-2 flex items-center">
          <i class="fas fa-comment-alt text-primary-700 text-lg"></i>
          <h3 class="ml-2 text-sm text-gray-600 "><%=  post.comments.count %><%= post.comments.count <= 1 ? " Comment" : " Comments"%></h3>
        </div>
      </div>
      <h3 class="mt-2 text-sm font-bold "><%= post.description%></h3>
      <% post.comments.last(2).each do |comment| %>

      <%if comment.user.username?%>
      <h3 class="text-xs font-bold py-2 border-t border-primary-100 "><%=  comment.user.username%>:
        <span class="font-normal">
          <%= comment.body%>
        </span>
      </h3>
      <%else%>
      <h3 class="text-xs font-bold py-2 border-t border-primary-100 ">anonymous_user:
        <span class="font-normal">
          <%= comment.body%>
        </span>
      </h3>
      <%end%>
      <%end%>
      <%= link_to post_path(post), class: "block w-full text-center rounded-lg text-primary-500 text-xs font-semibold focus:outline-none hover:text-primary-400"  do  %>
      <span class="inline-block bg-gray-100 px-2">Show All</span>
      <%end%>
    </div>
    <% end %>
  </div>
</div>