<div class="min-h-screen flex flex-row items-center">
  <div class="bg-white flex flex-col items-center max-w-sm mx-auto px-6 py-8 rounded shadow-md text-black w-full">
    <h2 class="font-bold text-primary-600">Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full bg-white text-primary-900 font-normal border border-primary-400 rounded py-3 px-4 mb-4 leading-tight focus:outline-none focus:bg-white focus:border-primary-500" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none block w-full bg-white text-primary-900 font-normal border border-primary-400 rounded py-3 px-4 mb-4 leading-tight focus:outline-none focus:bg-white focus:border-primary-500" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary btn-large w-full" %>
    </div>
    <% end %>
    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>